{%extends 'homepage.html'%}
{%load static%}
{%block content%}
    <!-- Preloader -->
    
    <!-- Slider -->
    {% include 'include/header.html' %}
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            {% for slide in slide%}
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="{{slide.image.url}}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1 bg-main-with-transparent">
                                <h4>{{slide.title}}</h4>
                                <h1>{{slide.descriptions}}</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="{% url 'list' %}"
                                        ><span>Прайс </span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <!-- slider reservation -->
        <div class="reservation">
            <a href="tel:{{setting.phone}}">
                <div class="icon d-flex justify-content-center align-items-center">
                    <i class="flaticon-call"></i>
                </div>
                <div class="call"><span>{{setting.phone}}</span> <br>забронировать</div>
            </a>
        </div>
    </header>
    <!-- About -->
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <div class="section-subtitle">{{setting.title}}</div>
                    <div class="section-title">{{about.title}}</div>
                    <p>{{about.descriptions}}</p>
                    <!-- call -->
                    <div class="reservations">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Забронировать</p> <a href="tel:{{setting.phone}}">{{setting.phone}}</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="{{about.image_1.url}}" alt="" class="mt-90 mb-30 br-20">
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="{{about.image_2.url}}" alt="" class="br-20">
                </div>
            </div>
        </div>
    </section>
    <!-- Rooms -->
    {% if video.url%}
    <!-- Promo Video -->
    <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="3"
        data-background="{{video.image.url}}">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="section-subtitle"><span>{{setting.title}}</span></div>
                    <div class="section-title"><span>{{video.title}}</span></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <a class="vid" href="{{video.url}}">
                        <div class="vid-butn">
                            <span class="icon">
                                <i class="ti-control-play"></i>
                            </span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    {% endif %}
    <!-- Facilties -->
    <section class="facilties pt-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">{{setting.title}}</div>
                    <div class="section-title">Услуги</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section class="services">
        <div class="container">
            {% for service in services%}
            <div class="row">
                <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img left brl-20">
                        <a href="#"><img src="{{service.image.url}}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 p-0 bg-cream valign animate-box brr-20" data-animate-effect="fadeInRight">
                    <div class="content">
                        <div class="cont text-left">
                            <h4>{{service.title}}</h4>
                            <p>{{service.descriptions}}</p>
                            <div class="butn-dark br-20"> <a href="#testimonials"><span>Заказать услугу</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </section>
    <!-- News -->
        <!-- Boss -->
    <section class="section-padding-boss">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle"><span>{{setting.title}}</span></div>
                    <div class="section-title">Основатель</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 animate-box" data-animate-effect="fadeInUp">
                    <img src="{{founder.image.url}}" alt="" class="br-20">
                </div>
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <div class="section-subtitle">{{founder.found}}</div>
                    <div class="section-title">{{founder.name}}</div>
                    <p>{{founder.descriptions}}</p>
                    {%if founder.descriptions_one%}
                    <p>{{founder.descriptions_one}}</p>
                    {%endif%}
                    {% if founder.descriptions_three%}
                    <p>{{founder.descriptions_two}}</p>
                    {%endif%}
                    {% if founder.descriptions_three%}
                    <p>{{founder.descriptions_three}}</p>
                    {%endif%}
                </div>
            </div>
        </div>
    </section>
    {% comment %}
        <section class="news section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-subtitle"><span>{{setting.title}}</span></div>
                        <div class="section-title">Команда</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">
                            {% for team in team%}
                            <div class="item br-20">
                                <div class="position-re o-hidden br-20"> 
                                    <img class="br-20" src="{{team.image.url}}" alt="">
                                </div>
                                <div class="con br-20">
                                    <h5><a>{{team.title}}</a></h5>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endcomment %}
    <section class="rooms1 section-padding bg-cream" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">{{setting.title}}</div>
                    <div class="section-title">Новости</div>
                </div>
            </div>
            <div class="row">
                {% for news in news%}
                <div class="col-md-4">
                    <div class="item br-20">
                        <div class="position-re o-hidden"><img src="{{news.image.url}}" alt=""></div>
                        <div class="con">
                            <h5><a href="{% url 'news_detail' news.id%}">{{news.title}}</a> </h5>
                            <div class="line"></div>
                            <div class="row facilities">
                                <div class="col col-md-5 text-end">
                                    <div class="permalink">
                                        <a href="{% url 'news_detail' news.id%}">
                                            Подробнее<i class="ti-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Reservation & Booking Form -->
    {% include 'include/reserv.html' %}

    <!-- Footer -->
    {% include 'include/footer.html' %}
   
{% endblock %}